/* Sticky footer styles
-------------------------------------------------- */
html { position: relative; min-height: 100%; }
body { /* Margin bottom by footer height */ margin-bottom: 80px; }
.footer { position: absolute; bottom: 0; width: 100%; /* Set the fixed height of the footer here */ height: auto; background-color: #f5f5f5; }
.footer > .container { padding: 20px 15px; text-align: center; }
@media only screen and (min-width: 0px) and (max-width: 768px) {
  body { margin-bottom: 100px; } /* Footer spans over multiple rows, increas hight. */
}

/* Licencia
-------------------------------------------------- */
.header { padding: 13px 0 10px; background-color: #f7f7f7; }
.content { margin-bottom: 15px; }
.jumbotron.block { margin: 20px 0 0; padding: 1px 15px 15px; }
.scroller { overflow: auto; }
.form-inline .form-group { margin-bottom: 10px; }
.form-inline .callto { display: block; width: 100%; }
.form-inline #callto { display: block; width: 100%; }
.form-inline .buttons { display: block; }
.alert { overflow: hidden; }
#status-label { display: inline-block; vertical-align: top; font-weight: normal; }
#error-messages { clear: both; }
#error-messages:empty { display: none; }
/*#reset.btn, #dopost.btn { margin-left: 10px; margin-bottom: 15px; }*/
#response  { clear: both; }
#response  .url { margin-bottom: 10px; }
#ucpxml-response { margin-bottom: 10px; }
img { max-width: 100%; }
.removed-stuff { color: gray; text-decoration: line-through; }
.right { text-align: right; width: 100%; }